notebooks/results/*.ipynb
notebooks/__pycache__/
notebooks/.ipynb_checkpoints/
data/.ipynb_checkpoints/
.ipynb_checkpoints/
build-graphlan
build-image

data/actives_cladogram.txt
data/actives_cladogram.xml
data/actives_graphlan.txt
data/full_cladogram.txt
data/full_cladogram.xml
data/full_graphlan.txt
data/bgc_presence_absence.tsv
data/bs_training_data_pickle
data/active_bgc_kcb.tsv
data/bs_rf_model_pickle
data/bs_training_data_pickle
data/sa_rf_model_pickle
data/sa_training_data_pickle
data/collection_query_pa.tsv
data/validation_strains_ml_predictions.tsv